@font-face {
  font-family: 'Gibson Bold';
  src: url('/fonts/Gibson-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Mijas Ultra';
  src: url('../../fonts/Mijas-Ultra.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('../../fonts/Pacifico.WOFF');
  font-weight: normal;
}

@font-face {
  font-family: 'Bambola';
  src: url('../../fonts/Bambola.WOFF');
  font-weight: normal;
}

@font-face {
  font-family: 'BreeSerif';
  src: url('../../fonts/BreeSerif.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Novecentosans-Normal';
  src: url('../../fonts/Novecentosans-Normal.WOFF');
  font-weight: normal;
}

@font-face {
  font-family: 'Novecentosans-ExtraLight';
  src: url('../../fonts/Novecentosans-ExtraLight.WOFF');
  font-weight: normal;
}
