<div class="container custom">
  <h2>Danh sách học sinh</h2>
  <div class="row">
    <% @students.each do |work| %>
      <div class="col-md-3 person">
        <div class="person-img-box">
          <img src="<%= work.avatar.to_s %>" class="person-img">
        </div>
        <p class="name"><%=work.name%></p>
        <p class="name"><%=work.birthday.year%></p>
        <p class="desc-main"><%=work.description[0..120]%></p>
      </div>
    <% end %>
  </div>
</div>
  