<div class="footer">
  <div>
    <a href="/" class="navbar-brand"><img class="logo" src="/images/logo.png"></a>
  </div>
  <div class="col-footer">
    <h4>Specialize</h4>
    <ul>
      <li>Portrait</li>
      <li>Workshop</li>
      <li>Advanced</li>
      <li>Experience</li>
    </ul>
  </div>
  <div class="col-footer">
    <h4>About Us</h4>
    <i class="fa fa-address-card-o" aria-hidden="true"></i><label>Địa chỉ:</label><span>Nguyễn Tri Phương</span><br>
    <i class="fa fa-phone" aria-hidden="true"></i><label>HotLine:</label><span>01234567</span><br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i><label>Email:</label><span>12312@gmail.com</span><br>
    <i class="fa fa-facebook" aria-hidden="true"></i><label>Fb Page:</label><span>fb.com/123124</span><br>
  </div>
</div>