<div class="footer">
  <div>
    <a href="/" class="navbar-brand"><img class="logo" src="/images/logo.png"></a>
  </div>
  <div class="col-footer">
    <h4>Specialize</h4>
    <ul>
      <li>Portrait</li>
      <li>Workshop</li>
      <li>Advanced</li>
      <li>Experience</li>
    </ul>
  </div>
  <div class="col-footer">
    <h4>About Us</h4>
    <i class="fa fa-address-card-o" aria-hidden="true"></i><label>Add:</label><span>264-266 Hàn Thuyên_Đà Nẵng</span><br>
    <i class="fa fa-phone" aria-hidden="true"></i><label>HotLine:</label><span>0905905891 - 0935479444</span><br>
    <i class="fa fa-facebook" aria-hidden="true"></i><label>Fb Page:</label><span>https://facebook.com/lopvengoinhanho</span><br>
  </div>
</div>