<div class="container">
  <h2>Albums</h2>
  <% @works.each do |work| %>
    <div class="album-box">
      <img src="<%= work.file.to_s %>" class="album-item">
      <div class="album-meta">
        <p class="title"><%= work.title%></p>
        <% if work.student %>
          <span class="author"><%= work.student.name %> ( lớp <%= work.age %> )</span>
        <% else %>
          <span class="author">vô danh</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
